<h2>Orders list</h2>

<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Order</th>
				<th>Name</th>
				<th>Phone</th>
				<th>Address</th>
			</tr>
		</thead>
		<tbody>
			<% @shipms.each do |item| %>
				<tr>
					<td><%= item.list %></td>
					<td><%= item.name %></td>
					<td><%= item.phone %></td>
					<td><%= item.address %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>